@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Mukta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');

@font-face {
    font-family: 'Mukta', sans-serif;
    font-family: 'Inter', sans-serif;
}
:root {
  --md-text-font: "Borel", cursive;
  --md-code-font: "Ubuntu", sans-serif;
}
::selection {
  background: 'cyan';
}
