@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Caveat&family=Libre+Baskerville&family=PT+Sans+Narrow&display=swap');
@font-face {
    font-family: 'Alegreya', serif;
    font-family: 'Caveat', cursive;
    font-family: 'Libre Baskerville', serif;
    font-family: 'PT Sans Narrow', sans-serif;
}
:root {
  --md-text-font: 'Alegreya', serif;
  --md-code-font: 'Libre Baskerville', serif;
}
