@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Mukta&display=swap');
@font-face {
    font-family: 'Mukta', sans-serif;
    font-family: 'Inter', sans-serif;
}
:root {
  --md-text-font: "Monaco", monospace;
  --md-code-font: "Lucida Console", Monospace;
}
::selection {
  background: 'cyan';
}