@font-face {
  font-family: 'Caveat', cursive;
  font-family: 'Libre Baskerville', serif;
  font-family: 'PT Sans Narrow', sans-serif;
  src: "https://fonts.googleapis.com/css2?family=Caveat&family=Libre+Baskerville&family=PT+Sans+Narrow&display=swap"
}